<div class="cj-title">
  <h1 class="text-5xl font-extrabold dark:text-white">
    Pagina de administracion
  </h1>
  <hr />
</div>

<div class="cj-navegacion">
  <a
    [routerLink]="['/tpEmpleadoForm']"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="https://i.ibb.co/BwKz9y1/746f37e1c48e.jpg"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Tipos de usuario
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Aquí encontrarás información sobre los diferentes tipos de roles que
        tenemos en nuestra app
      </p>
    </div>
  </a>
  <a
    [routerLink]="['/espmedForm']"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="https://th.bing.com/th/id/OIP.WjhkJzHNEcRrH-5sZTazBgHaHa?rs=1&pid=ImgDetMain"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Agregar nuevas especialidades
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Agrega nuevas especialidades médicas para mejorar la gestión de
        servicios y asignarlas a los profesionales correspondientes.
      </p>
    </div>
  </a>
  <a
    [routerLink]="['/empleadosForm']"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="https://th.bing.com/th/id/R.d96bf67866be52d2278a53dd2812e86b?rik=CDY4bshsCJcoCg&pid=ImgRaw&r=0"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Gestion de usuarios
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Registra nuevos empleados, ya sean médicos, enfermeras u otros miembros
        del personal, para mantener actualizada la base de datos.
      </p>
    </div>
  </a>
  <a
    [routerLink]="['/doctorForm']"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="https://th.bing.com/th/id/R.aca9181c4a70727ad3074dc47644370f?rik=%2bEc4Om9e1n2Y2g&pid=ImgRaw&r=0"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Administracion medica
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Gestiona la información de tus doctores existentes, realiza
        actualizaciones y elimina registros según sea necesario.
      </p>
    </div>
  </a>
  <a
    [routerLink]="['/empleadosEliminadosForm']"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="https://th.bing.com/th/id/OIP.8RgRr0ouJo5n3SwdPMJSJQHaHx?rs=1&pid=ImgDetMain"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Usuarios eliminados
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Aqui estan la informacion de empleados o usuarios de la app que estan en
        un estado inactivo
      </p>
    </div>
  </a>
  <a
    [routerLink]="['/noticiasForm']"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="https://th.bing.com/th/id/OIP.NZUumQw3S2azx4t15tn5RAHaHa?rs=1&pid=ImgDetMain"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Ingresar noticias
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Ingresa nuevas noticias y curiosidades para entretener e informar a
        nuestro pacientes
      </p>
    </div>
  </a>
</div>
