<div class="m-4">
  <h1>todo medico</h1>
  <ul>
    <li>Acceso a información de pacientes asignados.</li>
    <li>
      Capacidad para ver, agregar, editar y eliminar registros médicos de
      pacientes asignados.
    </li>
    <li>Gestión de horarios y citas para los pacientes asignados.</li>
    <li>
      Acceso a resultados de laboratorio y otras pruebas médicas de los
      pacientes asignados.
    </li>
    <li>Comunicación con otros médicos y personal de la clínica.</li>
  </ul>
</div>
