<div class="cj-title">
  <h1 class="text-5xl font-extrabold dark:text-white">
    Pagina de administracion
  </h1>
  <hr />
</div>

<div class="cj-navegacion">
  <a
    [routerLink]="['/tpEmpleadoForm']"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="assets/img/logo.png"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Tipo de empleados
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Aquí encontrarás información sobre los diferentes tipos de empleados en
        la clínica y sus roles respectivos.
      </p>
    </div>
  </a>
  <a
    [routerLink]="['/espmedForm']"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="assets/img/logo.png"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Agregar nuevas especialidades
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Agrega nuevas especialidades médicas para mejorar la gestión de
        servicios y asignarlas a los profesionales correspondientes.
      </p>
    </div>
  </a>
  <a
    href="#"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="assets/img/logo.png"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Registrar nuevo empleado
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Registra nuevos empleados, ya sean médicos, enfermeras u otros miembros
        del personal, para mantener actualizada la base de datos.
      </p>
    </div>
  </a>
  <a
    href="#"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="assets/img/logo.png"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Gestion de empleados
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Gestiona la información de empleados existentes, realiza actualizaciones
        y elimina registros según sea necesario.
      </p>
    </div>
  </a>
  <a
    href="#"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 appTheme"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src="assets/img/logo.png"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white appTheme"
      >
        Reportes y estadisticas
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 appTheme">
        Accede a reportes y estadísticas para obtener información clave sobre la
        actividad de la clínica, facilitando la toma de decisiones.
      </p>
    </div>
  </a>
</div>
