.appTheme {
  display: flex;
  align-items: center;
  background-color: var(--fondo-primary);
  color: var(--color-fuente);
}

h1 {
  font-size: 3rem;
}

img {
  height: 3%;
}
.cj-title {
  width: 100%;
  text-align: center;
  padding: 0 10%;
  margin: 20px 0;
}

.cj-navegacion {
  margin: 20px 0;
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cj-navegacion > * {
  margin-bottom: 20px;
  flex: 2 0 48%;
}

@media (max-width: 450px) {
  h1 {
    font-size: 1.5rem;
  }

  .cj-navegacion {
    grid-template-columns: repeat(1, 1fr);
  }
}
