<app-usuario-data>< /app-usuario-data> </app-usuario-data>

<section class="sec-recepcion">
  <a
    class="flex bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-3"
  >
    <img
      class="object-cover rounded-t-lg md:rounded-none md:rounded-s-lg"
      src="assets/img/logo.png"
      style="width: 100px"
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Historial del paciente
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Busca toda la informacion medica de un paciente
      </p>
    </div>
  </a>
  <a
    [routerLink]="['/generarCitaMedica']"
    class="flex bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-3"
  >
    <img
      class="object-cover rounded-t-lg md:rounded-none md:rounded-s-lg"
      src="assets/img/logo.png"
      style="width: 100px"
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Generar cita medica
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Genera las citas medicas a los pacientes
      </p>
    </div>
  </a>
  <a
    [routerLink]="['/verCitasDoctores']"
    class="flex bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-3"
  >
    <img
      class="object-cover rounded-t-lg md:rounded-none md:rounded-s-lg"
      src="assets/img/logo.png"
      style="width: 100px"
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Ver citas asignadas a Doctores
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Verifique las citas asignadas a todos los medicos
      </p>
    </div>
  </a>
  <a
    [routerLink]="['/verCitasPacientes']"
    class="flex bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-3"
  >
    <img
      class="object-cover rounded-t-lg md:rounded-none md:rounded-s-lg"
      src="assets/img/logo.png"
      style="width: 100px"
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Ver citas asignadas a pacientes
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Verifique las citas asignadas a todos los medicos
      </p>
    </div>
  </a>
  <a
    class="flex bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-3"
  >
    <img
      class="object-cover rounded-t-lg md:rounded-none md:rounded-s-lg"
      src="assets/img/logo.png"
      style="width: 100px"
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Actualizar informacion del paciente
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Cambia o elimina la informacion de los pacientes
      </p>
    </div>
  </a>
</section>
