<h1>DATOS DEL PACIENTE</h1>
<h1>DATOS DE LA ESPCIELAIDAD</h1>

<div class="form-consulta">
    <div class="con-input-asistencia">
        <input id="inAsistencia" type="checkbox">
        <label for="inAsistencia">Asistencia</label>
    </div>
    <h1>Motivo de la consulta:</h1>
    <textarea  cols="30" rows="10"></textarea>
    <h1>Diagnostico del doctor:</h1>
    <textarea  cols="30" rows="10"></textarea>
    <h1>Tratamiento:</h1>
    <textarea  cols="30" rows="10"></textarea>
    <h1>Indicaciones medicas:</h1>
    <textarea  cols="30" rows="10"></textarea>
    <div class="con-finalizar">
        <app-color-button label="Finalizar"></app-color-button>
    </div>
</div>

