.appTheme {
  color: var(--color-fuente);
}

section {
  margin-bottom: 15rem;
}

h1 {
  font-size: 2rem;
}

button {
  width: 100%;
}

.cj-form {
  display: flex;
  flex-direction: column;
  padding: 20px 1rem;
}

.cj-data-medico {
  display: flex;
  padding: 0 7rem;
  width: 100%;
}

.cj-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

@media (max-width: 850px) {
  .cj-data-medico {
    flex-direction: column;
    padding: 0 1rem;
  }
}
