<button
  id="dropdownToggleButton"
  data-dropdown-toggle="dropdownToggle"
  class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
  type="button"
>
  <svg
    class="w-5 h-5"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 16 3"
  >
    <path
      d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
    />
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="dropdownToggle"
  class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-72 dark:bg-gray-700 dark:divide-gray-600"
>
  <ul
    class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownToggleButton"
  >
    <li>
      <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
        <label class="relative inline-flex items-center w-full cursor-pointer">
          <input
            (click)="cambiarTema()"
            type="checkbox"
            value=""
            class="sr-only peer"
          />
          <div
            class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600"
          ></div>
          <span
            class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Modo Oscuro</span
          >
        </label>
      </div>
    </li>
  </ul>
  <div class="py-2" style="cursor: pointer">
    <a
      [routerLink]="['/login']"
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
      >Portal web</a
    >
  </div>
</div>
