<div class="contenedor-busqueda">
  <h1>Buscar paciente por cedula</h1>
  <!--! INPUT TYPE NUMBER -->
  <section class="sec-bus-pac">
    <form class="flex items-center">
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"
            />
          </svg>
        </div>
        <input
          type="number"
          (keypress.enter)="buscarUsuario(cedula.value)"
          #cedula
          id="simple-search"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Cedula"
          width="500px"
          required
        />
      </div>
      <button
        (click)="buscarUsuario(cedula.value)"
        type="submit"
        class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        <svg
          class="w-4 h-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
        <span class="sr-only">Search</span>
      </button>
    </form>
  </section>
</div>
<!--? PERFILES -->
<div style="display: flex; justify-content: center">
  <section class="sec-usuarios">
    Perfiles encontrados
    <app-loading *ngIf="usuarioBuscados.length == 0"></app-loading>
    <!--? PERFIL -->
    <div
      *ngFor="let item of usuarioBuscados"
      id="toast-notification"
      class="w-full max-w-xs p-4 text-gray-900 bg-white rounded-lg shadow dark:bg-gray-800 dark:text-gray-300 mb-1"
      role="alert"
    >
      <div class="flex items-center">
        <div class="relative inline-block shrink-0">
          <img
            class="w-12 h-12 rounded-full"
            style="object-fit: cover"
            [src]="item.em_imagen"
            alt="Jese Leos image"
          />
        </div>
        <div class="ms-3 text-sm font-normal">
          <div class="text-sm font-semibold text-gray-900 dark:text-white">
            {{ item.em_nombres | slice : 0 : 50 }}
          </div>
          <div class="text-sm font-normal">{{ item.em_cedula }}</div>
          <a
            (click)="cargarUsuario(item)"
            class="text-xs font-medium text-blue-600 dark:text-blue-500"
            >asignar cita</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
