<div class="cj-login appTheme">
  <img src="./assets/img/svg-login.png" alt="" />
  <div class="cj-form">
    <div class="flex items-center justify-center m-4">
      <h1 class="text-5xl font-extrabold dark:text-white text-center">
        Iniciar
        <span
          class="bg-blue-100 text-blue-800 text-2xl font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-2"
        >
          Session
        </span>
      </h1>
    </div>

    <form class="max-w-sm mx-auto">
      <div class="mb-5">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white appTheme"
          >Correo electronico</label
        >
        <input
          [(ngModel)]="email"
          name="email"
          type="email"
          autocomplete="current-email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com"
          required
        />
      </div>
      <div class="mb-5">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white appTheme"
          >Contraseña</label
        >
        <input
          [(ngModel)]="password"
          type="password"
          name="password"
          autocomplete="current-password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
        <p *ngIf="error" style="text-align: end" class="mt-1 text-red-600">
          {{ errorLabel }}
        </p>
      </div>
      <button
        (click)="validarFormulario()"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Iniciar
      </button>
    </form>
  </div>
</div>
