.cj-form {
  width: 100%;
  margin: 40px 0;
  padding: 0 1rem;
}

section {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 4rem;
  gap: 10rem;
}

h1 {
  font-size: 2rem;
}
.appTheme {
  color: var(--color-fuente);
}

.cj-fecha {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  margin-bottom: 5px;
}

input[type="date"] {
  border-radius: 20px;
  color: #1c1c1c;
}

@media (max-width: 770px) {
  .response-drop {
    width: 100%;
    padding-bottom: 5px;
  }
}

.cj-btn {
  display: grid;
  padding: 0 6rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media (max-width: 850px) {
  section {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 1rem;
  }
}

@media (max-width: 700px) {
  .cj-btn {
    padding: 0 30px;
    margin: 20px 0;
    gap: 2px;
    grid-template-columns: repeat(1, 1fr);
  }
}
